.btn-create {
  padding: 10px 30px;
  max-width: 300px;
  color: #000;
  font-size:18px;
  font-weight: 600;
  background-color: #e67e22;
  border:none;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-create:hover{
  background-color: #e66a22;
}

.btn-create:active{
  background-color: #e66022;
}