h1, h2, p{
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  background-color: #2ecc71;
}

.App__container{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20%;
}

.Title {
  font-size: 24px;
  line-height: 36px;
}

.Description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
